<% if @user_stats.any? %>
  <div data-review-topic="true">
    <% @user_stats.each do |obj| %>
      <% if obj[:users] %>
        <h2><%= t("yearly_review.title.#{obj[:key]}") %></h2>
        <table class="<%= class_from_key(obj[:key]) %>">
          <tr>
            <th>
              <%= t('yearly_review.user') %>
            </th>
            <th>
              <%= t("yearly_review.action.#{obj[:key]}") %>
            </th>
          </tr>
          <% obj[:users].each_with_index do |user, i| %>
            <tr class="user-row-<%= i %>">
              <td>
                <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
                <%= raw(user_link(user.username)) %>
              </td>
              <td>
                <%= user.action_count %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @featured_badge_users.any? %>
  <div data-review-users="true">
    <h2><%= t("yearly_review.title.featured_badge", badge_name: SiteSetting.yearly_review_featured_badge) %></h2>
    <% @featured_badge_users.each do |user| %>
      <span><%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %><%= raw(user_link(user.username)) %></span>
    <% end %>
  </div>
<% end %>

<% if @most_popular_topics.any? %>
  <h2><%= t('yearly_review.title.most_popular_topics') %></h2>
  <%= raw(@most_popular_topics.join("\r\r")) %>
<% end %>

<% if @most_liked_topics.any? %>
  <h2><%= t('yearly_review.title.most_liked_topics') %></h2>
  <%= raw(@most_liked_topics.join("\r\r")) %>
<% end %>

<% if @most_liked_posts.any? %>
  <h2><%= t('yearly_review.title.most_liked_posts') %></h2>
  <%= raw(@most_liked_posts.join("\r\r")) %>
<% end %>

<% if @most_replied_to_topics.any? %>
  <h2><%= t('yearly_review.title.most_replied_to_topics') %></h2>
  <%= raw(@most_replied_to_topics.join("\r\r")) %>
<% end %>

<% if @most_bookmarked_topics.any? %>
  <h2><%= t('yearly_review.title.most_bookmarked_topics') %></h2>
  <%= raw(@most_bookmarked_topics.join("\r\r")) %>
<% end %>
