<h1><%= t('yearly_review.title.users_section', year: 2018) %></h1>
<% if @user_stats.any? %>
  <div data-review-topic-users="true">
    <% @user_stats.each do |obj| %>
      <% if obj[:users] %>
        <h2><%= t("yearly_review.title.#{obj[:key]}") %></h2>
        <table class="<%= class_from_key(obj[:key]) %>">
          <tr>
            <th>
              <%= t('yearly_review.user') %>
            </th>
            <th>
              <%= t("yearly_review.action.#{obj[:key]}") %>
            </th>
          </tr>
          <% obj[:users].each_with_index do |user, i| %>
            <tr class="user-row-<%= i %>">
              <td>
                <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
                <%= raw(user_link(user.username)) %>
              </td>
              <td>
                <%= user.action_count < 1 ? 1 : user.action_count.round %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @featured_badge_users.any? %>
  <div data-review-users="true">
    <h2><%= t("yearly_review.title.featured_badge", badge_name: SiteSetting.yearly_review_featured_badge) %></h2>
    <% @featured_badge_users.each do |user| %>
      <span><%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %><%= raw(user_link(user.username)) %></span>
    <% end %>
    <% if @featured_badge_users[0].more_users > 0 %>
      <% @badge = @featured_badge_users[0] %>
      <div><%= raw(badge_link(@badge.name, @badge.id, @badge.more_users)) %></div>
    <% end %>
  </div>
<% end %>

<% if @category_topics.any? %>
  <div data-review-featured-topics="true">
    <h1><%= t('yearly_review.title.topics_section', year: 2018) %></h1>
    <% @category_topics.each do |category_name, ranked_topics| %>
      <h2>#<%= category_name %></h2>
      <% ranked_topics.each do |rank_type, topics| %>
        <h3><%= t("yearly_review.rank_type.title.#{rank_type}") %></h3>
        <table>
          <tr>
            <th><%= t('yearly_review.user') %></th>
            <th><%= t('yearly_review.topic') %></th>
            <th><%= t("yearly_review.rank_type.action_types.#{rank_type}") %></th>
          </tr>
        <% topics.each do |topic| %>
          <tr>
            <td><%= raw(avatar_image(topic.username, topic.uploaded_avatar_id)) %></td>
            <td><%= raw(topic_link(topic.title, topic.topic_slug, topic.id)) %></td>
            <td><%= topic.action_count.round %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>
