<h1><%= t('yearly_review.title.users_section', year: 2018) %></h1>
<% if @user_stats.any? %>
  <div data-review-topic-users="true">
    <% @user_stats.each do |obj| %>
      <% if obj[:users] %>
        <h2><%= t("yearly_review.title.#{obj[:key]}") %></h2>
        <table class="<%= class_from_key(obj[:key]) %>">
          <tr>
            <th>
              <%= t('yearly_review.user') %>
            </th>
            <th>
              <%= t("yearly_review.action.#{obj[:key]}") %>
            </th>
          </tr>
          <% obj[:users].each_with_index do |user, i| %>
            <tr class="user-row-<%= i %>">
              <td>
                <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
                <%= raw(user_link(user.username)) %>
              </td>
              <td>
                <%= user.action_count < 1 ? 1 : user.action_count.round %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @featured_badge_users.any? %>
  <div data-review-users="true">
    <h2><%= t("yearly_review.title.featured_badge", badge_name: SiteSetting.yearly_review_featured_badge) %></h2>
    <% @featured_badge_users.each do |user| %>
      <span><%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %><%= raw(user_link(user.username)) %></span>
    <% end %>
    <% if @featured_badge_users[0].more_users > 0 %>
      <% @badge = @featured_badge_users[0] %>
      <div><%= raw(badge_link(@badge.name, @badge.id, @badge.more_users)) %></div>
    <% end %>
  </div>
<% end %>
